@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box !important;

}

body {
	font-family: "Roboto", sans-serif;
	background-color: teal;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.container {
	background-color: white;
	padding: 40px;
}

.container h2 {
	color: teal;
}

input {
	width: 100% !important;
	margin: 15px 0px !important;
	padding: 12px 20px !important;
}

button {
	margin: 15px 0px;
	padding: 20px;
	font-size: 18px;
	width: 100%;
	background-color: teal;
	color: whitesmoke;
	border: none;
}

a {
	color: aliceblue;
  font-weight: bold;
	text-decoration: none;
}

.alert-error {
	background-color: rgb(240, 172, 172);
	padding: 20px;
	margin: 10px 0;
}

.signup-link {
  margin-top: 20px;
  text-align: center;
}

.signup-link a {
  color: teal;
  text-decoration: none;
}